@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); 

body * {
    font-family: 'Poppins', sans-serif !important;
}

/* Hide hamburger menu */
#MainMenu {visibility: hidden;}

/* Hide sidebar completely */
[data-testid="collapsedControl"] {
    display: none
}
/* Hide top right options menu */
.stAppDeployButton {display: none;}

/* Hide fullscreen button */
[data-testid="stElementToolbar"] {display: none;}

/* Hide 'Made with Streamlit' footer */
footer {visibility: hidden;}

/* Hide image expansion/zoom options */
img {cursor: default !important;}
.stImage > div > img {pointer-events: none;}

/* Hide any other header buttons */
header button {display: none;}

div[data-testid="stButton"] {
    margin-top: 0px;
}

/* Hide the page navigation pills if they exist */
div[data-testid="stPageNavButtonContainer"] {display: none;}

